.markdown a {
  color: #0366d6;
  text-decoration: none;
}

.markdown a:visited {
  color: #0366d6;
}

.markdown a:hover {
  color: #0366d6;
  text-decoration: underline;
}

.markdown pre {
  white-space: pre-line;
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

/**
* Code blocks
*/

.markdown code {
  white-space: pre-line;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  word-wrap: break-word;
  padding: 0.2em 0.4em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}

.markdown pre > code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
  font-size: 100%;
}

/**
* Blockquotes
*/

.markdown blockquote {
  margin-left: 16px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-left-width: 3px;
  padding: 0 1em;
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

.markdown blockquote * {
  font-style: normal !important;
  letter-spacing: 0;
  color: #6a737d !important;
}

/**
* Tables
*/

.markdown table {
  border-spacing: 2px;
  display: block;
  font-size: 14px;
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown th {
  font-weight: 600;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/**
* Others
*/

.markdown img {
  max-width: 100%;
}

.markdown p {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #24292e;
}

.markdown ul {
  margin-top: 0;
}

.markdown li {
  color: #24292e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.markdown li + li {
  margin-top: 0.25em;
}
