:root {
  --header-bg-color: #fff;
  --main-bg-color: #f2f3f5;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: #000;
}

header {
  background-color: var(--header-bg-color);
}

a {
  text-decoration: none;
  color: #000;
}

