@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-bg-color: #fff;
  --main-bg-color: #f2f3f5;
}

html,
body {
  background-color: var(--main-bg-color);
}

header {
  background-color: var(--header-bg-color);
}
